@{
    ViewData["Title"] = "";
}
@using Blog.Data
@model IEnumerable<ArticleSummaryViewModel>

@foreach (var article in Model)
{
  <div class="jfh-container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="jfh-header"><a asp-controller="Article" asp-action="Read" asp-route-title="@article.Id">@article.Title</a></h2>
        <p>@Html.Raw(article.ParsedSummary)</p>
        <hr />
        <div class="row jfh-summary-meta">
          <div class="col-sm-3">Published: @article.Date.ToString("dd MMMM yyyy")</div>
          <div class="col-sm-3">Author: @article.Author</div>
          <div class="col-sm-3">Category: @article.Category</div>
          <div class="col-sm-3">Tags: @article.Tags</div>
        </div>
      </div>
    </div>
  </div>
}